USE [master]
GO
/****** Object:  Database [labDB]    Script Date: 3/18/2025 6:21:12 PM ******/
CREATE DATABASE [labDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'labDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\labDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'labDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\labDB_log.ldf' , SIZE = 8527872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [labDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [labDB]
GO
/****** Object:  User [lab]    Script Date: 3/18/2025 6:21:13 PM ******/
CREATE USER [lab] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [lab]
GO
/****** Object:  Table [dbo].[AllTradeRecords]    Script Date: 3/18/2025 6:21:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllTradeRecords](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M1]    Script Date: 3/18/2025 6:21:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M1](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M10]    Script Date: 3/18/2025 6:21:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M10](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M2]    Script Date: 3/18/2025 6:21:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M2](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M3]    Script Date: 3/18/2025 6:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M3](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M4]    Script Date: 3/18/2025 6:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M4](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M5]    Script Date: 3/18/2025 6:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M5](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M6]    Script Date: 3/18/2025 6:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M6](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M7]    Script Date: 3/18/2025 6:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M7](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M8]    Script Date: 3/18/2025 6:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M8](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M9]    Script Date: 3/18/2025 6:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M9](
	[MachineId] [nvarchar](50) NOT NULL,
	[Unique_id] [nvarchar](100) NOT NULL,
	[Candel_time] [nvarchar](50) NULL,
	[Fetcher_Trade_time] [nvarchar](50) NULL,
	[Operator_Trade_time] [nvarchar](50) NULL,
	[Operator_Close_time] [nvarchar](50) NULL,
	[Pair] [nvarchar](50) NOT NULL,
	[Investment] [decimal](18, 7) NOT NULL,
	[Interval] [nvarchar](10) NOT NULL,
	[Stop_price] [decimal](18, 7) NOT NULL,
	[Save_price] [decimal](18, 7) NULL,
	[Min_comm] [decimal](18, 7) NULL,
	[Hedge] [bit] NULL,
	[Action] [nvarchar](10) NOT NULL,
	[Buy_qty] [decimal](18, 7) NULL,
	[Buy_price] [decimal](18, 7) NULL,
	[Buy_pl] [decimal](18, 7) NULL,
	[Sell_qty] [decimal](18, 7) NULL,
	[Sell_price] [decimal](18, 7) NULL,
	[Sell_pl] [decimal](18, 7) NULL,
	[Commission] [decimal](18, 7) NULL,
	[Pl_after_comm] [decimal](18, 7) NULL,
	[Close_price] [decimal](18, 7) NULL,
	[Commision_journey] [bit] NULL,
	[Profit_journey] [bit] NULL,
	[Min_profit] [decimal](18, 7) NULL,
	[Hedge_order_size] [decimal](18, 7) NULL,
	[Hedge_1_1_bool] [bit] NULL,
	[Added_qty] [decimal](18, 7) NULL,
	[Min_comm_after_hedge] [decimal](18, 7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[SignalFrom] [nvarchar](20) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Unique_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 3/18/2025 6:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines](
	[MachineId] [nvarchar](50) NOT NULL,
	[PoolID] [nvarchar](50) NOT NULL,
	[ClientID] [nvarchar](50) NOT NULL,
	[ClientTelegramId] [nvarchar](50) NULL,
	[ClientWhatsappId] [nvarchar](50) NULL,
	[ClientEmail] [nvarchar](100) NULL,
	[MachineIP] [nvarchar](50) NOT NULL,
	[APIKey] [nvarchar](100) NOT NULL,
	[SecretKey] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MachineIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SecretKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ClientEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ClientTelegramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[APIKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ClientWhatsappId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineTradeCount]    Script Date: 3/18/2025 6:21:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineTradeCount](
	[MachineId] [nvarchar](50) NOT NULL,
	[TotalTradeCounter] [int] NOT NULL,
	[DeclineCounter] [int] NOT NULL,
	[TotalClosed] [int] NOT NULL,
	[TotalHedge] [int] NOT NULL,
UNIQUE NONCLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[AllTradeRecords] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M1] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M10] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M2] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M3] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M4] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M5] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M6] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M7] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M8] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ('NONE') FOR [Candel_time]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ('NONE') FOR [Fetcher_Trade_time]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ('NONE') FOR [Operator_Trade_time]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ('NONE') FOR [Operator_Close_time]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Save_price]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Min_comm]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Hedge]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Buy_qty]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Buy_price]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Buy_pl]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Sell_qty]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Sell_price]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Sell_pl]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Commission]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Pl_after_comm]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Close_price]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Commision_journey]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Profit_journey]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Min_profit]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Hedge_order_size]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Hedge_1_1_bool]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Added_qty]
GO
ALTER TABLE [dbo].[M9] ADD  DEFAULT ((0)) FOR [Min_comm_after_hedge]
GO
USE [master]
GO
